#messageInput {
    height: 120px;
}

#contactForm .button {
    color: #7e33cc;
    background-color: transparent;
    border-color: #10A29F;
}

#contactForm label {
    color: #7e33cc;
}

#contactForm input:focus,textarea:focus {
    border: 1px solid #10A29F;
}

.postSubmitMessage {
    text-align: center;
}