@media (min-width: 750px) {
    .card {
        display: table-cell;
        padding: 40px 35px;
}
}

.card {
    background-color: white;
    border-radius: 15px;
    text-align: center;
    padding: 40px 30px;
    box-shadow: 0px 2px 6px -2px #6f6f6f;
    margin: 25px 0;
}

.card i {
    font-size: 6rem;
    color: #10A29F;
    margin-bottom: 20px
}

.card h5 {
    color: #7e33cc;
    font-weight: 500;
    margin-bottom: 15px;
}


.card p {
    color: #1C1C1C;
    font-size: 1.3rem;
    line-height: 1.4;
    font-weight: 300;
}

.card .underLine {
    border-bottom: 1px solid #10A29F;
    width: 25%;
    display: block;
    margin: auto;
}