footer {
    background-color: #3D3E44;
    color: white;
    text-align: center;
    padding: 25px 0;
}

footer img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 10px 5px 10px;
    max-width: 30px;
    display: inline-block;
}